## Como cálculo síntese estatística

utilizando dados de vendas de supermercados

In [8]:
import pandas as pd

Market = pd.read_csv("../../dataFrames/supermarket_sales.csv")

del Market["Invoice ID"]

Market.head()

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

### Estatística Agregada

![](https://pandas.pydata.org/docs/_images/06_aggregate.svg)

* Como cálculo a média de avaliação(rating) dos clientes do supermercado

In [9]:
Market["Rating"].mean().__round__(2)

np.float64(6.97)

* Como cálcular a mediana da quantidade e do total?

In [10]:
Market[["Quantity","Total"]].median()

Quantity      5.000
Total       253.848
dtype: float64

* Descrição geral da tabela

In [12]:
Market[["Unit price","Quantity"]].describe().round(2)

       Unit price  Quantity
count     1000.00   1000.00
mean        55.67      5.51
std         26.49      2.92
min         10.08      1.00
25%         32.88      3.00
50%         55.23      5.00
75%         77.94      8.00
max         99.96     10.00