## Como cálculo síntese estatística

In [6]:
import pandas as pd

sales = pd.read_excel("../../dataFrames/return_base.xlsx")

sales.head()

,Natália,Huon,1991-01-19 00:00:00,Curitiba,Chinelo,60,25,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Emanuella,Fialho,1992-12-17,Fortaleza,Tênis,106,200,1.0,Izabel,Milagre,Rio de Janeiro,Camiseta,85.0,1985-01-01
1,Eduarda,Figueiredo,1989-06-27,Fortaleza,Saia,83,75,2.0,Joyce,Ribas,Curitiba,Bermuda,150.0,1994-01-01
2,Tayna,Coimbra,1987-12-05,Curitiba,Sandália,102,110,3.0,Eduarda,Figueiredo,São Paulo,Casaco,190.0,NaT
3,Iago,Bensdorp,1992-02-12,Porto Alegre,Pulseira,122,30,4.0,Tayna,Coimbra,Brasília,Jaqueta,250.0,NaT
4,Paloma,Farias,1994-01-01,Rio de Janeiro,Chinelo,63,25,5.0,Patricia,Camara,Fortaleza,Saia,75.0,NaT

In [8]:
sales["Nome Completo"] = sales["Unnamed: 8"] + " " + sales["Unnamed: 9"]

sales.head()

,Natália,Huon,1991-01-19 00:00:00,Curitiba,Chinelo,60,25,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Nome Completo
0,Emanuella,Fialho,1992-12-17,Fortaleza,Tênis,106,200,1.0,Izabel,Milagre,Rio de Janeiro,Camiseta,85.0,1985-01-01,Izabel Milagre
1,Eduarda,Figueiredo,1989-06-27,Fortaleza,Saia,83,75,2.0,Joyce,Ribas,Curitiba,Bermuda,150.0,1994-01-01,Joyce Ribas
2,Tayna,Coimbra,1987-12-05,Curitiba,Sandália,102,110,3.0,Eduarda,Figueiredo,São Paulo,Casaco,190.0,NaT,Eduarda Figueiredo
3,Iago,Bensdorp,1992-02-12,Porto Alegre,Pulseira,122,30,4.0,Tayna,Coimbra,Brasília,Jaqueta,250.0,NaT,Tayna Coimbra
4,Paloma,Farias,1994-01-01,Rio de Janeiro,Chinelo,63,25,5.0,Patricia,Camara,Fortaleza,Saia,75.0,NaT,Patricia Camara

### Estatística Agregada

* Como cálculo a média de