Para criar um novo dataframe, em python, usa-se o método DataFrame("dicionario")

In [1]:
import pandas as pd

df = pd.DataFrame(
    {
        "Name":[
            "Son Goku, Kakarot",
            "Vegeta, Principe dos Saiyajins",
            "Lapis, Android 18",
        ],
        "Age": [58,60,38],
        "Sex":["male","male","female"],
        "Raca":["saiyajin","saiyajin","terraqueo"],
        "Poder":[3000,2500,1800],
    }
)

df["Sex"]

0      male
1      male
2    female
Name: Sex, dtype: object

"Series" é o nome dado as colunas em pandas, é possível criar uma nova série utilizando o método Series(), conforme o exemplo abaixo

In [2]:
ages = pd.Series([22,55,38,13,46,89], name = "Age")

ages

0    22
1    55
2    38
3    13
4    46
5    89
Name: Age, dtype: int64

## Algumas coisas que dá para fazer com DataFrame e Series

 max() -> retorna o valor máximo

In [8]:
#ages.max()  
df["Age"].max()

np.int64(60)

describe() -> oferece uma visão geral rápida de dados númericos. Desconsidera dados textuais

In [4]:
df.describe()
#df.describe().round()

             Age        Poder
count   3.000000     3.000000
mean   52.000000  2433.333333
std    12.165525   602.771377
min    38.000000  1800.000000
25%    48.000000  2150.000000
50%    58.000000  2500.000000
75%    59.000000  2750.000000
max    60.000000  3000.000000

## Lembre-se

* Uma tabela de dados é armazenado como um dataframe do pandas
* Cada coluna em um dataFrame é uma Series
* Você pode realizar operações aplicando um método a um dataFrame ou Series